.countryDiv{
    
    border-radius:24px;
    width : 20%;
    height: 150px;
    text-align: center;
    margin-top: 24px;
    box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
}
.countryDiv>h{
    padding-top: 24px;
}